
body {
  background-color: #d7fffd;
  height: 100%;
}
.jumbotron{
padding: 1rem 1rem;
background-color: #d7fffd;
}
.bg-light{
  background-color: #cae8d5 !important;
}
.h{
  color: #900c3f !important;
}
.navbar-brand{
  color: #900c3f !important;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.box {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  width:100% ;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h5{
  color:	#DC143C;
}